@font-face {
  font-family: chopsic;
  src: url("chopsic.ttf");
}

@font-face {
  font-family: above;
  src: url("ABOVE.ttf");
}

html {
  margin: 0;
}

.navbar-brand {
  font-family: "Roboto", sans-serif;
}

#firstback {
  left: 0;
  margin: 0;
  padding: 0;
  position: absolute;
  height: 600px;
  width: 100% !important;
  float: left;
}

nav {
  z-index: 1;
}

/* optimize for mobile */

#maintxt {
  position: relative;
  text-align: center;
  top: 200px;
}

@media only screen and (max-width: 600px) {
  #firstback {
    left: 0;
    margin: 0;
    padding: 0;
    position: absolute;
    height: 400px;
    width: 100% !important;
    float: left;
  }

  #textoverimage {
    height: 400px !important;
  }

  #maintxt {
    position: relative;
    text-align: center;
    z-index: 2;
  }
}