<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Jaden's website</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta property="og:title" content="Jaden's Website" />
    <meta
      property="og:description"
      content="This is Jaden's/Gold#1337's Website"
    />
    <meta
      property="og:image"
      content="https://cdn.discordapp.com/attachments/805911515022360587/847437849766526986/image0.jpg"
    />
    <meta property="og:url" content="jadend.xyz" />
    <link rel="stylesheet" href="../static/styles.css" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css"
    />
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto&display=swap"
      rel="stylesheet"
    />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  </head>
  <body>
    <nav
      class="navbar navbar-expand-lg navbar-dark"
      style="background-color: #1868c9; box-shadow: 1px 1px 15px black"
    >
      <div class="container-fluid">
        <p class="navbar-brand mt-0">jadend.xyz</p>
        <button
          class="navbar-toggler"
          type="button"
          data-toggle="collapse"
          data-target="#navbarNav"
          aria-controls="navbarNav"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul
            class="navbar-nav mr-auto mb-2 mb-lg-0 nav"
            id="bs-example-navbar-collapse-1"
          >
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="#">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Link</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <article>
      <div class="container-fluid" id="textoverimage">
        <img src="../static/background.jpg" id="firstback" />
        <h1 class="text-center" style="color: white" id="maintxt">Jaden</h1>
      </div>
      <div>
        <div class="jumbotron fuck">
          <img src="../static/puck.png" id="puck" />
          <div class="obama" id="obama">
            <h1 class="display-4" style="margin-left: 15px">Puck</h1>
            <p class="lead" style="margin-left: 10px">
              A multi-purpose open-source Discord bot. Puck is a Discord bot
              based off Puck from Re: Zero. Puck has many useful capabilities as
              a Discord bot. Puck can tell the weather for anywhere in the
              United States. Puck also has music capabilities.
            </p>
          </div>
        </div>
      </div>
      <div>
        <div class="jumbotron a">
          <img src="../static/puck.png" style="float:left;" id="imageleft" />
          <div class="fext" style="margin-right:4%;">
            <div class="pickle">
              <h1 class="display-4" style="margin-left: 15px">Jank Pong</h1>
              <p class="lead" style="margin-left: 10px">
                hihihihihihihihihihihhhhhhhhhhhhhhhhhhhhhhhh
              </p>
            </div>
          </div>
        </div>
      </div>
    </article>
    <script
      src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
      integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
      integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
      integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
      crossorigin="anonymous"
    ></script>
  </body>
</html>